@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

body{
    margin: 0px;
    font-family: Roboto;
    background-color: #f8f5f5;
}
img{
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    pointer-events: none;    
}
h1{
    text-align: center;
    font-family: Shrikhand;
    padding: 10px;
    padding-top: 15px;
    margin: 0px;
}
h2{
    font-family: Shrikhand;
}
h3{
    font-weight: normal;
}
h4{
    overflow: hidden;
    text-overflow: ellipsis;
}
h5{
    font-size: small;
    font-weight: normal;
}
header{
    margin: 0px;
    background-color: white;
}
section div span .fas{
    color: red;
    opacity: 0;
}
section{
    display: flex;
    flex-direction: column;
    position: relative;
    top: -50px;
    align-items: center;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    background-color: #f8f5f5;
    margin: 0px;
    padding: 15px;
}
.contenair_disteint{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section h2{
    font-size: x-large;
}
section h3{
    align-self: flex-start;
}
aside{
    position: relative;
    display: flex;
    width: 100%;
    height: 70px;
    text-align:left; 
    background-color: white;
    border-radius: 15px;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    cursor: pointer;
    animation: begin_animation 1000ms;
}
aside *{
    margin: 0px;
}
.info_plat h4{
    height: 20px;
    margin: 0px;
    margin-bottom: 2px;
    white-space: nowrap;
    flex-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info_plat{ 
    margin: 15px;
    width: 100%;
    transition: all 1s;
}
aside div div{
    height: 17px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
aside div div h5{
    height: 17px;
    max-width: 80%;
    white-space: nowrap;
    justify-content: space-between;
    overflow: hidden;
    text-overflow: ellipsis;
}
aside p{
    align-self: flex-end;
    font-weight: bold;
    font-size: medium;
}
footer{
    margin: 0px;
    background-color: #282626;
    color: #EFEBEB;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
}
footer *{
    margin: 15px;
}
footer i {
    margin: 0px;
    margin-right: 8px;
}
footer h2{
    font-size: larger;
    font-weight: normal;
    text-align: left;
}
footer a{
    margin: 0px;
    color: white;
}
.valide{
    position: absolute;
    left: -9000px;
    display: flex;
    width: 0px;;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.valide i{
    opacity: 0;
    color: white;
    transition-delay: 0.3s;
}
#but_command{
    font-size: x-large;
    color: white;
    background-color: #FF79DA ;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 15px;
    margin-top: 30px;
    border-radius: 50px;
}
#but_command:hover{
    background-color: #fc97df ;

}
#btn_back{
    position: absolute;
    top: 25px;
    left: 8px;
    color: black;
}
.list_menu{
    width: 100%;
}

/* Animation */

section div span:hover .far{
    opacity: 0;
}
aside:hover .valide{
    position: static;
    background-color: #99E2D0;
    transition-duration: 500ms;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    flex: 3;
}
section div span:hover .fas{
    opacity: 1;
    animation: on_like 1000ms;
}
aside:hover .info_plat{
    width: 70%;
}
aside:hover .valide i {
    opacity: 1;
    transition-duration: 0.5s;
    transform: rotate(360deg);
}
@keyframes begin_animation {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes on_like{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* Responsiv */
@media(min-width: 1026px){
    img{
        height: 750px;
        object-fit: cover;

    }
    .list_menu{
        display: flex;
        width: 100%;
    }
    .list_plat{
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 25px;
    }
}
@media(min-width: 1441px){
    aside{
        height: 100px;
        margin: 10px;
    }
    h1{
        font-size: 75px;
    }
    section h2{
        font-size: 55px;
    }
    h3{
        font-size: 45px;
    }
    p{
        font-size: 20px;
    }
    .info_plat h4{
        font-size: 25px;
        height: 30px;
    }
    aside div div h5{
        font-size: 20px;
        height: 21px;
    }
    aside:hover .info_plat{
        width: 85%;
    }
}