@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

body{
    margin: 0px;
    font-family: Roboto;
    text-align: center;
}
a{
    color: black;
    text-decoration: none;
    font-weight: normal;
}
h1{
    font-size: xx-large;
    font-weight: bold;
    text-align: left;
    margin-left: 15px;
}
h2{
    font-size: medium;
}
h3{
    font-weight: normal;
}
h4{
    font-family: Shrikhand;
    font-size: larger;
    font-weight: normal;
}


header{
    width: 100%;
    margin-bottom: 0px;
}
header h4{
    font-size: 45px;
    padding: 10px;
    margin: 0px;
}
header h2{
    margin: 0px;
    padding: 20px;
    background-color: #EFEFF0;
}
nav{
    width: 100%;
    background-color: #FBFBFB;
    margin-top: 0px;
    padding-bottom: 75px;
}
nav h1{
    text-align: center;
    margin: 3px;
    margin-top: 0px;
    padding-top: 40px;
    padding-bottom:20px;
}
nav h3{
    padding-bottom: 25px;
}
nav a{
    font-size: x-large;
    color: white;
    background-image: linear-gradient(174deg, #FF79DA 0%, #9356DC 90%);
    padding: 15px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 50px;
    box-shadow: 5px 5px 15px black;
}
nav a:hover{
    background-image: linear-gradient(174deg, #fa96de 0%, #9c69da 90%);
    box-shadow: 5px 5px 25px black;
}
strong{
    color: white;
}

aside{
    position: relative;
    flex-direction: column;
    margin: 10%;
    border-radius: 15px;
    background-color: white;
    box-shadow: 1px 1px 15px black;
}
aside:hover{
    box-shadow: 5px 5px 15px black;
}
aside .new_restau{
    width: 80px;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #99E2D0;
    color: #217460;
    padding: 0px;
    align-items: center;
    justify-content: center;
}
aside img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

}
aside div{
    display: flex;
    justify-content: space-between;
    margin-left: 3px;
    padding-top: 3px;
    padding-bottom: 8px;
    align-items: center;
}
aside div span{
    margin: 15px;
}
aside div span .fas{
    background: linear-gradient(to bottom, #9356DC 10%, #FF79DA 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
}
aside div span:hover .far{
    opacity: 0;
}
aside div span:hover .fas{
    opacity: 1;
    animation: on_like 1000ms;
}
aside div div{
    flex-direction: column;
}
aside div div *{
    margin: 2px;
    align-self: baseline;
}
footer{
    margin: 0px;
    background-color: #282626;
    color: #EFEBEB;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
}
footer *{
    margin: 15px;
}
footer i {
    margin: 0px;
    margin-right: 8px;
}
footer a{
    margin: 0px;
    color: white;
}





#tuto_section div{
    display: flex;
    width: 80%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #F9F3F3;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    border-radius: 25px;
}
#tuto_section div i{
    margin-right: 10px;
}

.number_choise{
    position: relative;
    left: -18px;
    top: 8px;
}
.number_choise_back{
    color: #9356DC;
}
.tuto_icon{
    color: gray;
}
#tuto_section div:hover{
    background-color: #E2C6F3;
}
#tuto_section div:hover .tuto_icon{
    color: #9356DC;
}
#restau_setion{
    width: 100%;
    background-color: #EFEBEB;
    margin-top: 60px;
    padding-top: 10px;
    padding-bottom: 15px;
}
@keyframes on_like{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}



/* Load Screen*/
    #load_screen{
        position: fixed;
        width: 0px;
        height: 0px;
        top: -5px;
        left: -5px;
        background-color: white;
        z-index: 40;
        animation: load_screen_opacity 3s;
        opacity: 0;
    }
    #load_screen h4{
        color: black;
        font-size: xx-large;
    }
    #load_screen div{
        display: flex;
        justify-content: space-around;
    }
    .load_chargement{
        width: 50px;
        height:50px;
        opacity: 0;
        background-color: white;
        animation: load_animation 1.7s;
    }
    .load_chargement:nth-child(1){
        background-color: #9356DC;
    }
    .load_chargement:nth-child(2){
        background-color: #FF79DA ;
        animation-delay: 500ms;
    }
    .load_chargement:nth-child(3){
        background-color: #99E2D0;
        animation-delay: 1000ms;
    }
    @keyframes load_animation{
        0% {
            opacity: 1;
            transform: rotate(0deg);
        }
        70% {
            opacity: 1;
        }
        95%{
            opacity: 0;
            transform: rotate(360deg);
        }
    }
    @keyframes load_screen_opacity{
        0%{
            opacity: 1;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
        }
        95%{
            opacity: 1;
        }
        99%{
            opacity: 0;
            width: 100%;
            height: 100%;
        }
        100%{
            opacity: 0;
            width: 0px;
            height: 0px;
        }
    }

/* Resposiv */
@media(min-width: 1120px){
    .list_restau{
        display: flex;
    }
    section a{
        flex: 1;
    }
}
